if headerTagsData.slug == "home" || headerTagsData.slug == "404"
	//jquery script
	script(type="text/javascript", src='public/jquery/jquery.min.js')
	//bootstrap js
	script(type="text/javascript", src='public/bootstrap/js/bootstrap.min.js')
	//app script
	script(type="text/javascript", src='js/app.min.js')
else
	//jquery script
	script(type="text/javascript", src='../public/jquery/jquery.min.js')
	//bootstrap js
	script(type="text/javascript", src='../public/bootstrap/js/bootstrap.min.js')
	//app script
	script(type="text/javascript", src='../js/app.min.js')