$font-url: "./public/fonts/";

@font-face {
  font-family: "Montserrat";
	src: url($font-url+'Montserrat-Thin.ttf') format('ttf');
	font-weight: 100;
	font-style: normal;
}


@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url($font-url+'Montserrat-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}