.navbar.navbar-default{
	.navbar-brand{
		color: $white;
		&:hover{
			color: $white;
		}
	}
	.navbar-toggle{
		border: 0px;
		background-color: transparent;
		&:hover{
			background-color: transparent;
		}
		span.icon-bar{
			background-color: $white;
		}
	}
	#bs-example-navbar-collapse-1{
		ul{
			li{
				a{
					background-color: transparent;
					color: $white;
					text-transform: capitalize;
				}
			}
			li.active{
				a{
					color: $dark-gray;
				}
			}
		}
	}
}